# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.htaccess
admin/*
boot/config.php
boot/starter.php
boot/certificates/*
boot/i18n/*
log
.DS_Store
storage
thumb.db
update.sh
Capfile
config
lib_oldd
update.sh
log/*
wsc
user
